.checkout__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    line-height: 2.5rem;
    align-items: center;
}

.checkout__billing p {
    margin: 0;
}

.pay__button {
    align-self: center;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: 1px solid #977D53;
    border-radius: 5px;
    max-height: 3rem;
    min-width: 10rem;
    margin-top: 2rem;
    background-color:#977D53;
    color:white;
    text-decoration: none;
    font-size:0.8rem;
}

@media (min-width: 50rem){
    .checkout__info {
        padding-left: 3rem;
    }
}